.containerForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100vw;

	background-color: #ebebeb;
}

.css-1rv3ei8-MuiFormControl-root-MuiTextField-root{
	max-width: 229px;
}

.form-style{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	background-color: #fff;
	height: 85vh;
	width: 80vw;
	border-radius: 20px;
}

.sla{
	margin: 20px;
}

.input-style{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.account{
	font-size: 1.2rem;
}

.link{
	margin-left: 5px;
	text-decoration: none;
	font-size: 1.3rem;]
	font-weight: bold;
	color: #4c45a8;
}

@media (min-width: 400px){
	.form-style{
		max-width: 470px;
	}
}